*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(42, 47, 49);
    background-size: cover;
    background-repeat: no-repeat;
    
}
h1{
    color: rgb(90, 243, 205);
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgb(93, 163, 217);
}
.input{
    font-size: 1rem;
    margin: 5px;
    padding: 5px 5px;
    border-radius: 6px;
    height: 20px;
}
.container{
    width: 90%;
    max-width: 470px;
    background-image: linear-gradient(to bottom right, rgb(250, 9, 9), rgb(243, 216, 17), rgb(13, 136, 237));
    border-radius: 20px;
    color: rgb(26, 22, 22);
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
    font-weight:800;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 5px;
    height: 45px;
    width: 45px;
    font-size: 25px;
    border-radius: 6px;
    cursor: pointer;
}